header.container-fluid {
    position: fixed;
    top: 0;
    max-width: 100%;
}
.carousel-inner img {
    width: 70%;
    height: 280px;
    margin-top: 30px;
    opacity: 0.4;
}
.carousel{
    
    max-width:100%;
    height: auto;
    margin-top: -65px;

}
.carousel-control-prev , .carousel-control-next{
    margin:auto;
}
.carousel-caption{
    color: rgb(15, 15, 14);
    text-align: center;
    font-weight: bold;
    font-family: 'Arizonia';
    font-size: 22px;
    line-height: 20px;
  }

.jumbotron{
    height: auto;;
    width: 100%;
    
}
.responsive{
    width:50%;
    height: 200px
 } 
 .category
{
    width:100%;
    background-color: white;
    height:400px;
    margin-top: 400px;
}
.flex-container
{
    display:flex;
    margin:auto;
}
.flex-container p{
    display:flex;
    direction:row-reverse;
}
.category div{
    width:30%;
    height:80%;
    background-color:whitesmoke;
    margin:auto;
}
.category img{
    margin-left:0;
    width:100%;
}
.category dd{
    width: 80%;
    text-align: center;
    color:rgb(43, 41, 41);
    font-size:100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.lunch , .bft , .dinner {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(44, 41, 40);
    
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    
}
h3,h4{
    text-align:center;
    background-color: rgb(44, 44, 43);
    color: rgb(248, 245, 245);
    font-size: 25px;
    font-weight: bolder;
    height:40px;
    word-spacing: 10px;
    
    
 }
footer{
    height: auto;
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
    font-weight: 100;
}

@media screen and (min-width:700px){

}